.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #f3f7f9;
  font-family: 'Work Sans', sans-serif;
  color: #53616e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 10px;
  margin-bottom: 2rem;
  color: #333e48;
  font-size: 3em;
  line-height: 1.1em;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #333e48;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -1px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsla(207.69230769230768, 19.49%, 55.29%, 1.00);
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #97d9eb;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

p {
  margin-bottom: 3rem;
  color: #8e9ca8;
  font-size: 1.3em;
  line-height: 1.5em;
}

.main-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 11vh;
  padding-bottom: 11vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.about-wrapper__text {
  width: 70%;
  margin-top: 3rem;
}

.about-wrapper__text.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.about-wrapper__text.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-logo {
  display: inline-block;
  width: 160px;
}

.hero-intro {
  display: block;
  max-width: 65%;
  margin-top: 35px;
  color: #53616e;
  font-size: 34px;
  line-height: 46px;
  font-weight: 400;
  text-align: left;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #53616e;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #97d9eb;
}

.project-thumb {
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 17%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.project-description {
  max-height: 100%;
  max-width: 100%;
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(243, 247, 249, .5);
}

.project-cta {
  display: inline-block;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.home-ctas {
  padding-left: 25px;
  border-left: 3px solid #97d9eb;
  color: #53616e;
  text-decoration: none;
}

.home-ctas:hover {
  color: #97d9eb;
}

.arrow {
  display: inline-block;
  font-family: 'Fontawesome webfont', sans-serif;
  text-decoration: none;
}

.work-thumb-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gold-zigzag {
  position: absolute;
  left: -1073px;
  right: 0px;
  bottom: 206px;
  width: 1460px;
}

.my-name {
  display: none;
  margin-bottom: 3vh;
  color: #53616e;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.case-study-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.bottom-stripes {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -274px;
  display: none;
}

.work-img {
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(83, 97, 110, .1);
}

.work-img.no-shadow {
  box-shadow: none;
}

.work-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.work-description {
  margin-left: 45px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.internal-case-study {
  margin-bottom: 2rem;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  color: #8e9ca8;
}

.internal-work-name {
  margin-top: 15px;
  color: #53616e;
  font-size: 50px;
  line-height: 50px;
}

.first-work-image {
  margin-bottom: 40px;
}

.work-thumb-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.work-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  min-height: 550px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(151, 217, 235, .5);
  background-color: #fff;
  -webkit-transition: box-shadow 600ms ease;
  transition: box-shadow 600ms ease;
}

.work-thumb:hover {
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .2);
}

.lines-container {
  position: absolute;
  left: 0px;
  top: -570px;
  right: 0px;
  width: 100%;
  height: 950px;
  background-image: url('../images/ZigZag-Lines-3200px.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block {
  display: none;
}

.mouse {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21px;
  height: 35px;
  margin-top: 6vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #97d9eb;
  border-radius: 20px;
}

.scrollwheel {
  width: 3px;
  height: 6px;
  border-radius: 5px;
  background-color: #97d9eb;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1436px;
  margin: 25px auto 10em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #8e9ca8;
}

.footer-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-cols.right-aligned {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inline-link {
  color: #97d9eb;
  text-decoration: none;
}

.inline-link:hover {
  text-decoration: underline;
}

.inline-link.social {
  margin-right: 20px;
  font-family: 'Fontawesome webfont', sans-serif;
  font-size: 22px;
}

.inline-link.is--dark {
  text-decoration: none;
}

.inline-link.is--dark:hover {
  color: #333e48;
}

.nav__container {
  position: absolute;
  left: 8em;
  top: 3em;
  right: 0%;
  bottom: auto;
  background-color: transparent;
}

.hero-wrapper__text {
  max-width: 50%;
  background-color: #fff;
}

.flex-child__image {
  position: relative;
}

.flex-child__image.lake {
  right: -100px;
}

.flex-child__image.rm {
  right: -100px;
}

.flex-child__image.conrogo {
  left: 50px;
  top: 83px;
  width: 85%;
  border-style: solid;
  border-width: 8px;
  border-color: rgba(142, 156, 168, .1);
}

.flex-child__image.ani {
  left: 44px;
  top: 125px;
  width: 88%;
}

.flex-child__image.arte {
  right: -100px;
}

.flex-child__image.gf {
  right: -100px;
}

.nav__brand {
  width: 110px;
  margin-right: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-button {
  padding: 15px 54px;
  border-radius: 50px;
  background-color: #fdba61;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  color: #333e48;
  font-weight: 600;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-button:hover {
  background-color: #f6916b;
}

.main-button.is--small {
  padding-right: 48px;
  padding-left: 48px;
}

.nav__link-item {
  color: rgba(83, 97, 110, .8);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section-wrapper__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 35%;
  padding-left: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-wrapper__text.is--right {
  padding-right: 6rem;
  padding-left: 0rem;
}

.section-wrapper__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 90vh;
  padding-left: 8em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/ripples_tall.svg');
  background-position: 50% 32%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section-wrapper__img {
  position: absolute;
  top: -198px;
  right: -176px;
  width: 600px;
}

.section__floating-image4 {
  position: absolute;
  right: 20px;
  bottom: -120px;
  z-index: 2;
  width: 180px;
}

.section__floating-image3 {
  position: absolute;
  left: 60px;
  bottom: -82px;
  z-index: 2;
  width: 205px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.section-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  background-color: #fff;
}

.section-wrapper.is--gray {
  background-color: rgba(142, 156, 168, .3);
  background-image: url('../images/ripples_tall.svg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-wrapper.is--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.section-wrapper.is--dark-gray {
  background-color: #333e48;
  background-image: url('../images/ripples_short.svg');
  background-position: 50% 75%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-wrapper.is--white {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-image: url('../images/ripples_short.svg');
  background-position: 50% 111%;
  background-size: contain;
  background-repeat: no-repeat;
}

.is--light {
  color: #8e9ca8;
}

.section__floating-image2 {
  position: absolute;
  right: 15px;
  bottom: -90px;
  z-index: 2;
  width: 245px;
}

.section {
  position: relative;
  max-width: 1436px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.section__floating-image1 {
  position: absolute;
  left: 75px;
  top: -195px;
  width: 400px;
}

.about-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 70vh;
  padding: 12em 8em 14rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.about-wrapper__img {
  position: absolute;
  top: -135px;
  right: -45px;
  width: 590px;
}

.section-has--padding {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 70vh;
  padding: 16rem 8em 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/ripples_tall.svg');
  background-position: 50% 342px;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-has--padding.pricing {
  background-position: 50% 67%;
}

.section-has--padding.hosting {
  min-height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: 50% -100%;
}

.section-has--padding.contact {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: hsla(30.00000000000014, 11.54%, 89.80%, 1.00);
  background-image: none;
}

.section-has--padding.webflow {
  min-height: auto;
  padding: 0rem 0em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-image: none;
}

.secondary-button {
  display: inline-block;
  padding: 8px 8px 8px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #53616e;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.secondary-button.about {
  margin-top: 4em;
}

.secondary-button__text {
  display: inline-block;
  margin-right: 0.5rem;
  color: #53616e;
  line-height: 14px;
}

.secondary-button__img {
  width: 15px;
  padding-bottom: 4px;
}

.back-button {
  display: inline-block;
  margin-top: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #53616e;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.back-button__text {
  display: inline-block;
  margin-left: 0.5rem;
  color: #53616e;
  line-height: 14px;
}

.back-button__img {
  width: 15px;
  padding-bottom: 4px;
}

.intro-text {
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: -1px;
}

.intro-text.is--small {
  font-size: 2em;
  line-height: 1.6em;
}

.work-wrapper__container {
  width: 100%;
}

.work-wrapper__features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 3em;
}

.flex-child {
  padding: 32px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-child.pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.flex-child__feature-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.feature-text {
  margin-top: 24px;
  font-size: 1.6em;
  line-height: 1.3em;
}

.pricing-wrapper {
  padding: 6em 8em;
  background-color: rgba(142, 156, 168, .3);
}

.pricing-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 56px;
}

.pricing-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  padding: 40px 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
  background-color: hsla(30.00000000000014, 11.54%, 89.80%, 0.30);
}

.price {
  color: #f6916b;
  font-size: 3em;
  line-height: 1.1em;
  font-weight: 500;
}

.is--blue {
  color: #97d9eb;
  font-size: 0.8em;
  font-weight: 700;
}

.title {
  margin-bottom: 0px;
  font-size: 2.7em;
  line-height: 1.2em;
  font-weight: 500;
}

.small-note {
  color: #8e9ca8;
}

.text-block-2 {
  text-align: center;
}

.notes {
  margin-bottom: 8px;
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
}

.notes.is--left-aligned {
  text-align: left;
}

.hosting-plans {
  padding-bottom: 24px;
  border-bottom: 1px solid hsla(30.00000000000014, 11.54%, 89.80%, 1.00);
}

.hosting-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hosting-option {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.input {
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 48%;
  -ms-flex: 0 48%;
  flex: 0 48%;
}

.input.last {
  margin-right: 0px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.text-field {
  margin-bottom: 24px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field::placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.button {
  padding: 12px 48px;
  border-radius: 50px;
  background-color: hsla(34.230769230769226, 97.50%, 68.63%, 1.00);
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #53616e;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: hsla(16.40287769784172, 88.54%, 69.22%, 1.00);
}

.button:active {
  background-color: #43464d;
}

.status-message {
  padding: 9px 30px;
  background-color: #212121;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: hsla(156.8674698795181, 82.18%, 39.61%, 1.00);
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.form-block-2 {
  width: 60%;
}

.why-webflow-section {
  padding: 80px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.why-webflow-section.webflow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #333e48;
}

.why-webflow-section.examples {
  background-color: #97d9eb;
}

.is--dark {
  color: #53616e;
}

.work-example-container {
  text-align: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #333e48;
}

.link-2 {
  text-decoration: none;
}

.recaptcha {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  h2 {
    width: 100%;
    font-size: 46px;
    line-height: 44px;
  }
  .main-container {
    padding-top: 8vh;
    background-position: 51% -211px;
    background-size: 1660px;
  }
  .about-wrapper__text {
    width: 100%;
    margin-top: 5rem;
  }
  .about-wrapper__text.center {
    width: 100%;
  }
  .about-wrapper__text.flex {
    max-width: 90%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-logo {
    top: -180px;
    width: 120px;
  }
  .hero-intro {
    max-width: 100%;
    font-size: 29px;
    line-height: 45px;
  }
  .project-thumb {
    padding: 60px 30px;
  }
  .project-description {
    padding-bottom: 0px;
  }
  .work-thumb-logo {
    width: 270px;
  }
  .gold-zigzag {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 2010px;
  }
  .case-study-wrapper {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .bottom-stripes {
    left: 0px;
    right: 0px;
    bottom: -108px;
  }
  .work-description {
    margin-left: 0px;
  }
  .internal-case-study {
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 0px;
  }
  .work-thumb-container {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .work-thumb {
    min-height: 650px;
    margin-bottom: 30px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .lines-container {
    top: -326px;
    height: 640px;
  }
  .footer {
    margin-bottom: 6em;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .nav__container {
    left: 2em;
    right: 2em;
  }
  .hero-wrapper__text {
    max-width: 80%;
  }
  .flex-child__image.conrogo {
    left: 0px;
  }
  .flex-child__image.ani {
    left: 0px;
    top: 88px;
  }
  .nav__brand {
    width: 90px;
  }
  .section-wrapper__text {
    width: 70%;
    margin-bottom: 4rem;
    padding-top: 6rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  .section-wrapper__text.is--right {
    margin-bottom: 0rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  .section-wrapper__img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .hero-wrapper {
    padding-left: 0em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: 1150px;
  }
  .hero-section-wrapper__img {
    top: -130px;
    right: -130px;
    width: 440px;
  }
  .section__floating-image3 {
    left: 20px;
  }
  .section-wrapper.is--gray {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-wrapper.is--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-wrapper.is--dark-gray {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-wrapper.is--white {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section__floating-image2 {
    right: 0px;
  }
  .section__floating-image1 {
    left: auto;
    top: -16%;
    right: 6%;
    bottom: 0%;
    width: 300px;
  }
  .about-wrapper {
    min-height: 90vh;
    padding-right: 3.5rem;
    padding-bottom: 20rem;
    padding-left: 3.5rem;
  }
  .about-wrapper__img {
    width: 350px;
  }
  .section-has--padding {
    min-height: 90vh;
    padding-right: 3.5rem;
    padding-bottom: 20rem;
    padding-left: 3.5rem;
  }
  .section-has--padding.pricing {
    padding-right: 2rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
  }
  .flex-child {
    padding: 2px;
  }
  .flex-child.pricing {
    width: 70%;
    margin-right: 8px;
    margin-bottom: 32px;
    margin-left: 8px;
    padding: 16px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .feature-text {
    font-size: 1.4em;
    line-height: 1.4em;
  }
  .pricing-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .pricing-table {
    margin-right: -8px;
    margin-left: -8px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pricing-holder {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hosting-option {
    margin-right: 80px;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .why-webflow-section.webflow {
    padding: 64px 40px;
  }
  .why-webflow-section.examples {
    padding: 64px 40px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 42px;
    line-height: 42px;
  }
  .main-container {
    padding-top: 0vh;
    background-position: 50% -99px;
  }
  .about-wrapper__text {
    margin-top: 2rem;
  }
  .about-wrapper__text.center {
    margin-bottom: 0vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  .about-wrapper__text.flex {
    margin-bottom: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .project-thumb {
    margin-right: 0vw;
    text-align: center;
  }
  .project-description {
    padding: 20px;
  }
  .work-thumb-logo {
    width: 60%;
  }
  .gold-zigzag {
    bottom: 0px;
  }
  .bottom-stripes {
    left: 0px;
    right: 0px;
    bottom: -68px;
  }
  .lines-container {
    top: -380px;
  }
  .footer {
    margin-top: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-cols {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-cols.right-aligned {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nav__container {
    top: 1em;
  }
  .nav__brand {
    width: 65px;
    margin-right: 0rem;
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav__icn {
    padding: 0px;
    font-size: 40px;
    line-height: 40px;
  }
  .nav__icn.w--open {
    background-color: transparent;
    color: #53616e;
  }
  .nav__link-item {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #f3f7f9;
    font-size: 16px;
    text-align: center;
  }
  .section-wrapper__text {
    width: 100%;
  }
  .hero-wrapper {
    min-height: 100vh;
  }
  .hero-section-wrapper__img {
    top: -202px;
    right: -81px;
    width: 360px;
  }
  .section__floating-image4 {
    bottom: -85px;
    display: none;
    width: 120px;
  }
  .section__floating-image3 {
    left: 25px;
    bottom: -64px;
    display: none;
    width: 160px;
  }
  .nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section__floating-image2 {
    display: none;
    width: 200px;
  }
  .section__floating-image1 {
    left: 290px;
    top: -112px;
    width: 230px;
  }
  .about-wrapper {
    min-height: 100vh;
    padding-bottom: 11rem;
  }
  .about-wrapper__img {
    width: 300px;
  }
  .section-has--padding {
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 11rem;
  }
  .section-has--padding.hosting {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nav-menu {
    height: 100vh;
    margin-top: 20px;
    padding-top: 70px;
    background-color: #333e48;
  }
  .intro-text {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .work-wrapper__features {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
  }
  .flex-child__feature-wrapper {
    margin-bottom: 40px;
  }
  .pricing-wrapper {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .pricing-holder {
    height: 100vh;
  }
  .hosting-option.last {
    margin-right: 0px;
  }
  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .text-field.cc-textarea {
    text-align: left;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 2.7em;
    line-height: 1em;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .main-container {
    background-position: 50% -94px;
    background-size: 1040px;
  }
  .about-wrapper__text {
    margin-top: 1em;
  }
  .about-wrapper__text.flex {
    margin-bottom: 8vh;
  }
  .hero-intro {
    font-size: 22px;
    line-height: 32px;
  }
  .project-thumb {
    padding: 25px;
  }
  .work-thumb-logo {
    width: 90%;
  }
  .bottom-stripes {
    bottom: -39px;
  }
  .work-thumb {
    min-height: 550px;
  }
  .lines-container {
    top: -200px;
    height: 440px;
  }
  .nav__container {
    left: 1em;
    right: 1em;
  }
  .hero-wrapper__text {
    max-width: 85%;
  }
  .flex-child__image.lake {
    right: -25px;
  }
  .flex-child__image.rm {
    right: -25px;
  }
  .flex-child__image.conrogo {
    left: 21px;
    top: 33px;
  }
  .flex-child__image.ani {
    left: 20px;
    top: 22px;
  }
  .flex-child__image.arte {
    right: -25px;
  }
  .flex-child__image.gf {
    right: -25px;
  }
  .main-button {
    padding-right: 50px;
    padding-left: 50px;
  }
  .section-wrapper__text {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section-wrapper__text.is--right {
    padding: 5rem 1rem;
  }
  .section__floating-image3 {
    left: 5px;
    bottom: -40px;
    width: 100px;
  }
  .section-wrapper.is--reverse {
    min-height: auto;
  }
  .section__floating-image2 {
    right: 0px;
    bottom: -70px;
    width: 160px;
  }
  .section__floating-image1 {
    left: 56px;
    top: -97px;
    width: 200px;
  }
  .about-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .about-wrapper__img {
    width: 270px;
  }
  .section-has--padding {
    padding-top: 8rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section-has--padding.pricing {
    padding-right: 1.2rem;
    padding-bottom: 4rem;
    padding-left: 1.2rem;
  }
  .section-has--padding.webflow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .secondary-button {
    padding-right: 0px;
    padding-left: 0px;
  }
  .secondary-button.about {
    padding-left: 0px;
  }
  .flex-child.pricing {
    width: 100%;
  }
  .flex-child__feature-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature-text {
    font-size: 1em;
  }
  .pricing-wrapper {
    padding: 4em 1rem;
  }
  .pricing-table {
    margin-right: 0px;
    margin-left: 0px;
  }
  .pricing-holder {
    height: 50vh;
  }
  .title {
    font-size: 2.1em;
  }
  .hosting-plans {
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 30px;
  }
  .hosting-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hosting-option {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .number-image {
    width: 63px;
  }
}

#w-node-d28c73c0b4af-332991b5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d28c73c0b4b1-332991b5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-d28c73c0b4b1-332991b5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-d28c73c0b4b3-332991b5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-d28c73c0b4b3-332991b5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}