body {
  background-color: #f3f7f9;
  font-family: Averta, sans-serif;
  color: #53616e;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 2rem;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #333e48;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -1px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0.8rem;
  border-left: 12px solid #97d9eb;
  border-radius: 50px;
  color: #8e9ca8;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #97d9eb;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

p {
  margin-bottom: 3rem;
  color: #8e9ca8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.main-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 11vh;
  padding-bottom: 11vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.about-wrapper__text {
  position: relative;
  margin-top: 3rem;
}

.about-wrapper__text.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.about-wrapper__text.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-logo {
  display: inline-block;
  width: 160px;
}

.hero-intro {
  display: block;
  max-width: 65%;
  margin-top: 35px;
  color: #53616e;
  font-size: 34px;
  line-height: 46px;
  font-weight: 400;
  text-align: left;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #53616e;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #97d9eb;
}

.project-thumb {
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 17%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.project-description {
  max-height: 100%;
  max-width: 100%;
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(243, 247, 249, .5);
}

.project-cta {
  display: inline-block;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.home-ctas {
  padding-left: 25px;
  border-left: 3px solid #97d9eb;
  color: #53616e;
  text-decoration: none;
}

.home-ctas:hover {
  color: #97d9eb;
}

.arrow {
  display: inline-block;
  font-family: 'Fontawesome webfont', sans-serif;
  text-decoration: none;
}

.work-thumb-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gold-zigzag {
  position: absolute;
  left: -1073px;
  right: 0px;
  bottom: 206px;
  width: 1460px;
}

.my-name {
  display: none;
  margin-bottom: 3vh;
  color: #53616e;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.case-study-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.bottom-stripes {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -274px;
  display: none;
}

.work-img {
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(83, 97, 110, .1);
}

.work-img.no-shadow {
  box-shadow: none;
}

.work-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.work-description {
  margin-left: 45px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.internal-case-study {
  margin-bottom: 2rem;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  color: #8e9ca8;
}

.internal-work-name {
  margin-top: 15px;
  color: #53616e;
  font-size: 50px;
  line-height: 50px;
}

.first-work-image {
  margin-bottom: 40px;
}

.work-thumb-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.work-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  min-height: 550px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(151, 217, 235, .5);
  background-color: #fff;
  -webkit-transition: box-shadow 600ms ease;
  transition: box-shadow 600ms ease;
}

.work-thumb:hover {
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .2);
}

.about-text {
  display: block;
  max-width: 75%;
  margin-bottom: 35px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 400;
  text-align: left;
}

.download-resume-cta {
  margin-top: 25px;
  padding-left: 25px;
  border-left: 3px solid #97d9eb;
  color: #53616e;
  text-decoration: none;
}

.download-resume-cta:hover {
  color: #97d9eb;
}

.lines-container {
  position: absolute;
  left: 0px;
  top: -570px;
  right: 0px;
  width: 100%;
  height: 950px;
  background-image: url('../images/ZigZag-Lines-3200px.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block {
  display: none;
}

.mouse {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21px;
  height: 35px;
  margin-top: 6vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #97d9eb;
  border-radius: 20px;
}

.scrollwheel {
  width: 3px;
  height: 6px;
  border-radius: 5px;
  background-color: #97d9eb;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 25px auto 3rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #8e9ca8;
}

.footer-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-cols.right-aligned {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inline-link {
  color: #97d9eb;
  text-decoration: none;
}

.inline-link:hover {
  text-decoration: underline;
}

.inline-link.social {
  margin-right: 20px;
  font-family: 'Fontawesome webfont', sans-serif;
  font-size: 22px;
}

.nav__container {
  width: 100%;
  margin-bottom: 6rem;
  background-color: transparent;
}

.hero-wrapper__text {
  max-width: 54%;
  background-color: #fff;
  font-size: 34px;
  line-height: 46px;
}

.flex-child__image {
  position: relative;
}

.flex-child__image.lake {
  right: -140px;
}

.flex-child__image.rm {
  right: -140px;
}

.flex-child__image.conrogo {
  left: 50px;
  top: 83px;
  width: 810px;
  border-style: solid;
  border-width: 8px;
  border-color: rgba(142, 156, 168, .1);
}

.flex-child__image.ani {
  left: 120px;
  top: 125px;
  width: 705px;
}

.flex-child__image.arte {
  right: -140px;
}

.flex-child__image.gf {
  right: -140px;
}

.nav__brand {
  width: 110px;
  margin-right: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-button {
  padding: 15px 60px;
  border-radius: 50px;
  background-color: #fdba61;
  color: #333e48;
  font-weight: 600;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link-item {
  color: rgba(83, 97, 110, .8);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section-wrapper__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
}

.section-wrapper__text.is--right {
  padding-right: 6rem;
  padding-left: 0rem;
}

.section-wrapper__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 70vh;
  padding: 2rem 6rem 18rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/ripples_tall.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section-wrapper__img {
  position: absolute;
  top: -198px;
  right: -160px;
  width: 700px;
}

.section__floating-image4 {
  position: absolute;
  right: 20px;
  bottom: -120px;
  z-index: 2;
  width: 180px;
}

.section__floating-image3 {
  position: absolute;
  left: 60px;
  bottom: -82px;
  z-index: 2;
  width: 205px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.section-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  background-color: #fff;
}

.section-wrapper.is--gray {
  background-color: rgba(142, 156, 168, .3);
  background-image: url('../images/ripples_tall.svg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-wrapper.is--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.section-wrapper.is--dark-gray {
  background-color: #333e48;
  background-image: url('../images/ripples_short.svg');
  background-position: 50% 75%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-wrapper.is--white {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-image: url('../images/ripples_short.svg');
  background-position: 50% 111%;
  background-size: contain;
  background-repeat: no-repeat;
}

.is--light {
  color: #8e9ca8;
}

.section__floating-image2 {
  position: absolute;
  right: 15px;
  bottom: -90px;
  z-index: 2;
  width: 245px;
}

.section {
  position: relative;
  max-width: 1436px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.section__floating-image1 {
  position: absolute;
  left: 75px;
  top: -195px;
  width: 400px;
}

.about-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 70vh;
  padding: 2rem 6rem 14rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.about-wrapper__img {
  position: absolute;
  top: -135px;
  right: -45px;
  width: 590px;
}

.work-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 70vh;
  padding: 2rem 6rem 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/ripples_tall.svg');
  background-position: 50% 342px;
  background-size: auto;
  background-repeat: no-repeat;
}

.secondary-button {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #53616e;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.secondary-button.about {
  margin-top: 20px;
}

.secondary-button__text {
  display: inline-block;
  margin-right: 0.5rem;
  color: #53616e;
  line-height: 14px;
}

.secondary-button__img {
  width: 15px;
  padding-bottom: 4px;
}

.back-button {
  display: inline-block;
  margin-top: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #53616e;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.back-button__text {
  display: inline-block;
  margin-left: 0.5rem;
  color: #53616e;
  line-height: 14px;
}

.back-button__img {
  width: 15px;
  padding-bottom: 4px;
}

@media (max-width: 991px) {
  h2 {
    width: 100%;
    font-size: 46px;
    line-height: 44px;
  }
  .main-container {
    padding-top: 8vh;
    background-position: 51% -211px;
    background-size: 1660px;
  }
  .about-wrapper__text.center {
    width: 100%;
  }
  .about-wrapper__text.flex {
    max-width: 90%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-logo {
    top: -180px;
    width: 120px;
  }
  .hero-intro {
    max-width: 100%;
    font-size: 29px;
    line-height: 45px;
  }
  .project-thumb {
    padding: 60px 30px;
  }
  .project-description {
    padding-bottom: 0px;
  }
  .work-thumb-logo {
    width: 270px;
  }
  .gold-zigzag {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 2010px;
  }
  .case-study-wrapper {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .bottom-stripes {
    left: 0px;
    right: 0px;
    bottom: -108px;
  }
  .work-description {
    margin-left: 0px;
  }
  .internal-case-study {
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 0px;
  }
  .work-thumb-container {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .work-thumb {
    min-height: 650px;
    margin-bottom: 30px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .about-text {
    max-width: 100%;
    font-size: 29px;
    line-height: 45px;
  }
  .lines-container {
    top: -326px;
    height: 640px;
  }
  .footer {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .hero-wrapper__text {
    max-width: 100%;
  }
  .nav__brand {
    width: 110px;
  }
  .section-wrapper__text {
    margin-bottom: 6rem;
    padding-top: 6rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  .section-wrapper__text.is--right {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  .section-wrapper__img {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .hero-wrapper {
    min-height: 90vh;
    padding-right: 3.5rem;
    padding-bottom: 20rem;
    padding-left: 3.5rem;
  }
  .hero-section-wrapper__img {
    width: 530px;
  }
  .section__floating-image3 {
    left: 20px;
  }
  .section-wrapper.is--gray {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-wrapper.is--reverse {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-wrapper.is--dark-gray {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-wrapper.is--white {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section__floating-image2 {
    right: 0px;
  }
  .section__floating-image1 {
    left: 280px;
    top: -171px;
    width: 350px;
  }
  .about-wrapper {
    min-height: 90vh;
    padding-right: 3.5rem;
    padding-bottom: 20rem;
    padding-left: 3.5rem;
  }
  .about-wrapper__img {
    width: 380px;
  }
  .work-wrapper {
    min-height: 90vh;
    padding-right: 3.5rem;
    padding-bottom: 20rem;
    padding-left: 3.5rem;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 42px;
    line-height: 42px;
  }
  .main-container {
    padding-top: 0vh;
    background-position: 50% -99px;
  }
  .about-wrapper__text.center {
    margin-bottom: 0vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  .about-wrapper__text.flex {
    margin-bottom: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .project-thumb {
    margin-right: 0vw;
    text-align: center;
  }
  .project-description {
    padding: 20px;
  }
  .work-thumb-logo {
    width: 60%;
  }
  .gold-zigzag {
    bottom: 0px;
  }
  .bottom-stripes {
    left: 0px;
    right: 0px;
    bottom: -68px;
  }
  .lines-container {
    top: -380px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-cols {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-cols.right-aligned {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .hero-wrapper__text {
    font-size: 28px;
    line-height: 38px;
  }
  .nav__brand {
    width: 90px;
    margin-right: 0rem;
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav__icn {
    padding: 0px;
    font-size: 40px;
    line-height: 40px;
  }
  .nav__icn.w--open {
    background-color: transparent;
    color: #53616e;
  }
  .nav__link-item {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #f3f7f9;
    font-size: 16px;
    text-align: center;
  }
  .hero-wrapper {
    min-height: 100vh;
    padding-bottom: 11rem;
  }
  .hero-section-wrapper__img {
    width: 400px;
  }
  .section__floating-image4 {
    bottom: -85px;
    display: none;
    width: 120px;
  }
  .section__floating-image3 {
    left: 25px;
    bottom: -64px;
    display: none;
    width: 160px;
  }
  .nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section__floating-image2 {
    display: none;
    width: 200px;
  }
  .section__floating-image1 {
    left: 290px;
    top: -112px;
    width: 230px;
  }
  .about-wrapper {
    min-height: 100vh;
    padding-bottom: 11rem;
  }
  .work-wrapper {
    min-height: 100vh;
    padding-bottom: 11rem;
  }
  .nav-menu {
    height: 100vh;
    margin-top: 20px;
    background-color: #333e48;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .main-container {
    background-position: 50% -94px;
    background-size: 1040px;
  }
  .about-wrapper__text.flex {
    margin-bottom: 8vh;
  }
  .hero-intro {
    font-size: 22px;
    line-height: 32px;
  }
  .project-thumb {
    padding: 25px;
  }
  .work-thumb-logo {
    width: 90%;
  }
  .bottom-stripes {
    bottom: -39px;
  }
  .work-thumb {
    min-height: 550px;
  }
  .about-text {
    font-size: 22px;
    line-height: 32px;
  }
  .lines-container {
    top: -200px;
    height: 440px;
  }
  .hero-wrapper__text {
    font-size: 24px;
    line-height: 30px;
  }
  .flex-child__image.lake {
    right: -25px;
  }
  .flex-child__image.rm {
    right: -25px;
  }
  .flex-child__image.conrogo {
    left: 21px;
    top: 33px;
  }
  .flex-child__image.ani {
    left: 25px;
    top: 57px;
  }
  .flex-child__image.arte {
    right: -25px;
  }
  .flex-child__image.gf {
    right: -25px;
  }
  .nav__brand {
    width: 80px;
  }
  .main-button {
    padding-right: 50px;
    padding-left: 50px;
  }
  .section-wrapper__text {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section-wrapper__text.is--right {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .hero-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section__floating-image3 {
    left: 5px;
    bottom: -40px;
    width: 100px;
  }
  .section__floating-image2 {
    right: 0px;
    bottom: -70px;
    width: 160px;
  }
  .section__floating-image1 {
    left: 56px;
    top: -97px;
    width: 200px;
  }
  .about-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .about-wrapper__img {
    width: 330px;
  }
  .work-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .secondary-button {
    padding-right: 50px;
    padding-left: 50px;
  }
  .back-button {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circularstd book';
  src: url('../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta_thin.otf') format('opentype'), url('../fonts/Averta_extrathin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta_extrabold.otf') format('opentype'), url('../fonts/Averta_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta_semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Averta blck';
  src: url('../fonts/Averta_blck.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}